*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
  min-height: 100dvh;
  padding-bottom: 1.5rem;
}

section {
  height: 100%;
}